*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lora", serif;
}

.cabeçalho{
    background-color: #001125;
    color: #E9A226;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-itens a{
    text-decoration: none;
    color: #E9A226;
}

.cabeçalho-itens{
    display: inline-block;
    margin: 0 40px;
    font-size: 24px;
}

.escola-imagem{
    width: 60%;
}

.colégio{
    background-color: #001125;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.colégio-div-conteúdo{
    width: 15%;
    font-size: 20px;
}

.imagem-fachada{
    width: 30%;
}

#SOBRE-O-COLÉGIO{
    background-color: #001125;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 95px 0;
}

.sobre-titulo-1{
    padding: 20px 0;
}

.colégio-div-sobre{
    width: 44%;
    font-size: 20px;
}

.texto-sobre-colégio-2{
    padding: 20px 0;
}

.biblioteca{
    width: 44%;
}

#GRADE-HORÁRIA{
    background-color: #001125;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.grade-titulo-2{
    padding: 20px 0;
}

.grade-div-horario{
    width: 74%;
    font-size: 20px;
}

.texto-aulas{
    padding: 10px 0s;
}

.grade-de-aulas{
    width: 55%;
    padding: 20px 0;
}

#CONTATOS{
    background-color: #001125;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    
}

.endereço{
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
}
 .contatos-icone{
    width: 15%;
    padding: 10px 0;

 }

 .telefone{
    padding: 20px 0;
    font-size: 18px;
 }

 .contatos-icone-2{
    width: 15%;
    padding: 10px 0;
    
 }

 .instagram{
    padding: 20px 0;
    font-size: 18px;
 }

 .contatos-icone-3{
    width: 15%;
    padding: 10px 0;
 }


 .contatos-div{
    display: grid;
    grid-template-rows: 50% 50%;
 }

 .rodapé{
    background-color: #E9A226;
    text-align: center;
 }

 .rodapé-imagem{
    height: 60px;
    padding: 10px 0;
 }

