*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #001125;
    color: #E9A226;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-itens{
    display: inline-block;
    margin: 0 40px;
    font-size: 24px;
}

.escola-imagem{
    width: 60%;
}

.colégio{
    background-color: #001125;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.colégio-div-conteúdo{
    width: 15%;
    font-size: 20px;
}